@use '../partials/variables' as *;
// Input

.input {
    border: 2px solid transparent;
    box-shadow: 0 0 10px rgba($color: black, $alpha: 0.2);
    width: 20em;
    font-size: 14px;
    height: 2.5em;
    padding-left: 33px;
    outline: none;
    overflow: hidden;
    background-color: $our-white;
    border-radius: 6px !important;
    transition: all 0.2s ease-in;
}

.input:hover,
.input:focus {
    border: 1px solid #f96c007c;
    box-shadow: 0px 0px 20px rgba($color: $our-orange, $alpha: 0.5);
    background-color: $our-white;
}


// Input V2
.group {
    position: relative;
}

.inputV2 {
    font-size: 12px;
    padding: 10px 10px 10px 5px;
    display: block;

    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
    width: 100%;
}

.inputV2:focus {
    outline: none;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.8px;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.inputV2:focus~label,
.inputV2:valid~label {
    top: -20px;
    font-size: 14px;
    color: $our-light-grey;
}

.bar {
    position: relative;
    display: block;

}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: $our-orange;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.inputV2:focus~.bar:before,
.inputV2:focus~.bar:after {
    width: 50%;
}

// Inner card

.inner-card {
    border-radius: 10px;
    background: rgb(235, 235, 235);
    box-shadow: rgba(81, 81, 121, 0.15) 0px 30px 50px -45px inset, rgba(44, 44, 44, 0.2) 0px 18px 26px -18px inset;
}